---
import { getCollection } from "astro:content";

import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import FormattedDate from "@/components/FormattedDate.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

const explore = Astro.url.searchParams.get("explore")?.toLowerCase();
const allPosts = await getCollection("blog").catch((error) => {
  console.error("Failed to fetch blog posts:", error);
  return [];
});
const posts = allPosts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter(
    (post) =>
      !explore ||
      post.data.tags?.some(
        (tag) => tag.toLowerCase().replace(/\s+/g, "-") === explore,
      ),
  );
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="py-6 container">
        <ul>
          {
            posts.map((post, index) => (
              <li
                class:list={[
                  "w-full group",
                  index < posts.length - 1 && "border-b border-accent",
                ]}
              >
                <a
                  href={`/blog/${post.slug}/`}
                  class="flex justify-between py-3 group-hover:no-underline"
                >
                  <h4 class="text-lg font-normal font-noto-sans text-white m-0">
                    {post.data.title}
                  </h4>
                  <p
                    class:list={[
                      "font-normal font-inter whitespace-nowrap p-1 m-0 text-base text-accent",
                      "group-hover:text-white duration-150",
                    ]}
                  >
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
